ul{
  padding-left:0;
  list-style:none;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weigt:400;
}

img{
  max-width:100%;
}

.logo{
  text-align:center;
  display:block;
  color: #3A3A3A;
  font-size: 90%;
}

.logo:hover{
  text-decoration:none;
}

footer{
  margin:50px auto 30px auto;
}

.home-list{
  text-align:center;
}

.breadcrumb > *{
  display:inline-block;
}

.breadcrumb h3{
  margin: 0 auto;
}

.photo-item .caption{
  display: block;
  text-align: center;
}
}
